<div class="border-end border-warning border-3 h-100 d-flex flex-column">
    <div class="text-center">
        <img src="/images/IMG_20231022_223113.jpg" alt="Raghav Upadhyay" class="img-fluid rounded-circle mt-5">
        <h3 class="text-white mt-3 st-font">Raghav</h3>
    </div>
    <nav class="nav flex-column text-center mt-4">
        <a href="/" class="nav-link">Home</a>
        <a href="/service" class="nav-link">Service</a>
        <a href="/skill" class="nav-link">Skill</a>
        <a href="/contact" class="nav-link">Contact</a>
    </nav>
</div>