<%- include('partials/header.ejs') %>

    <div class="container-fluid bg-dark vh-100">
        <div class="row h-100">
            <div class="col-sm-2">
                <%- include('partials/sidebar.ejs') %>
            </div>
            <div class="col-sm-10">
                <div class="d-flex align-items-start justify-content-start p-3">
                    <!-- Uncomment if needed -->
                    <!-- <h1>Home</h1> -->
                    <div class="mt-5">
                        <div class="text-center">
                            <img src="/images/IMG_20231022_223113.jpg" alt="Raghav Upadhyay" class="img-thumbnail"
                                width="250px" height="150px">
                        </div>
                        <div class="mt-5 text-white mx-5 text-justify">
                            <h1 class="fw-bold st-font">Hello,</h1>
                            <div class="px-4" style="line-height: 2rem;">
                                <p style="text-indent: 100px;">I am <b class="text-warning">Raghav Upadhyay</b>,
                                    currently pursuing bachelor's in Computer Science. I am from Neemuch, M.P. and did
                                    my schooling at Springwood School.</p>
                                <div class="text-center">
                                    <a href="/contact" class="btn btn-outline-warning mx-5 my-3">Hire Me</a>
                                    <a href="/contact/" class="btn btn-outline-info">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('partials/footer.ejs') %>