<%- include('partials/header') %>

    <div class="container-fluid bg-dark vh-100">
        <div class="row h-100">
            <div class="col-sm-2">
                <%- include('partials/sidebar') %>
            </div>
            <div class="col-sm-10">
                <div class="container mt-5">
                    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
                    <div class="row text-white">
                        <div class="col-sm-6">
                            <h3 class="mt-5">HTML/CSS</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">JavaScript</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="mt-5">Node.js</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                        <!-- Add more skills as needed -->
                        <div class="col-sm-6">
                            <h3 class="mt-5">ExpressJS</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                        <!-- Add more skills as needed -->
                        <div class="col-sm-6">
                            <h3 class="mt-5">REST-API</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                        <!-- Add more skills as needed -->
                        <div class="col-sm-6">
                            <h3 class="mt-5">MongoDB</h3>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                        </div>
                        <!-- Add more skills as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>